{% extends 'base.html' %}

{% block content %}
    <div class="block logged-in-user">
        <p class="muted">Currently logged in as {{ username }}. <a href="/logout/">(logout)</a></p>
    </div>
    <div id="story" class="article">
    {%  for line in lines %}
        <p>{{ line.text }} <span class="attribution muted">- {{ line.author }}</span></p>
    {% endfor %}
    </div>
    <div class="article">
        <form method="post">
            {% if lines %}
            <label class="form-prompt muted" for="new_paragraph">And then what happened?</label>
            {% else %}
            <label class="form-prompt muted" for="new_paragraph">How did it all start?</label>
            {% endif %}
            <textarea name="new_paragraph"></textarea>
            <input type="submit" value="submit">
        </form>
    </div>
{% endblock content %}

{% block javascript %}

<script type="text/javascript">
function append_paragraph(text, author){
    var ptag = document.createElement('p'),
        parts = [
            text,
            ' <span class="attribution muted">- ',
            author,
            '</span>'
    ];
    ptag.innerHTML = parts.join('');
    document.getElementById('story').appendChild(ptag);
}

var updates = new EventSource('/stream/{{ room_name }}/?since={{ lines[-1].id }}');
updates.onmessage = function (event) {
    var payload = JSON.parse(event.data);
    append_paragraph(payload.text, payload.author);
};
</script>
{% endblock javascript %}